@page "/customeredit"
@page "/customeredit/{CustomerId}"

@using FirstBlazorApp.Model

@if (!false)
{
    <section class="customer-edit bg-white p-4 rounded">
        
        <h2>Customer Form</h2>
        <h3 class="page-title">Details for @Customer.FirstName @Customer.LastName</h3>

        <EditForm Model="@Customer">
            <div class="row mb-3">
                <label for="lastName" class="col-form-label col-md-3">Last name: </label>
                <div class="col-md-8">
                    <InputText id="lastName" class="form-control col-md-8" @bind-Value="@Customer.LastName" placeholder="Enter last name"></InputText>
                </div>
               @* <ValidationMessage class="offset-md-3 col-md-8" For="@(() => Customer.LastName)" />*@
            </div>

            <div class="row mb-3">
                <label for="firstName" class="col-form-label col-md-3">First name: </label>
                <div class="col-md-8">
                    <InputText id="firstName" class="form-control col-md-8" @bind-Value="@Customer.FirstName" placeholder="Enter first name"></InputText>
                    @*<ValidationMessage class="offset-md-3 col-md-8" For="@(() => Customer.FirstName)" />*@
                </div>

            </div>

            <div class="row mb-3">
                <label for="email" class="col-form-label col-md-3">Email: </label>
                <div class="col-md-8">
                    <InputText id="email" class="form-control col-md-8" @bind-Value="@Customer.Email" placeholder="Enter email"></InputText>
                    @*<ValidationMessage class="offset-md-3 col-md-8" For="@(() => Customer.Email)" />*@
                </div>
            </div>

            <div class="row mb-3">
                <label for="phonenumber" class="col-form-label col-md-3">Phone number: </label>
                <div class="col-md-8">
                    <InputText id="phonenumber" class="form-control col-md-8" @bind-Value="@Customer.PhoneNumber" placeholder="Enter phone number"></InputText>
                </div>
            </div>

@*            <div class="row mb-3">
                <label for="jobcategory" class="col-form-label col-md-3">Job category: </label>
                <div class="col-md-8">
                    <InputSelect id="jobcategory" class="form-select col-md-8" @bind-Value="@Customer.JobCategoryId">
                        @foreach (var jobCategory in JobCategories)
                        {
                            <option value="@jobCategory.JobCategoryId">@jobCategory.JobCategoryName</option>
                        }
                    </InputSelect>
                </div>
            </div>*@

            <div class="row mb-3">
                <InputRadioGroup Name="genderRadioGroup" @bind-Value="@Customer.Gender">
                    <label class="col-form-label col-md-3">Gender: </label>
                    <div class="col-md-8">
                        @foreach (var gender in (Gender[])Enum.GetValues(typeof(Gender)))
                        {
                            <InputRadio Name="genderRadioGroup" Value="gender" class="form-check-input" />
                            <label class="form-check-label">
                                @gender
                            </label>
                            <br />
                        }
                    </div>
                </InputRadioGroup>
            </div>

            <div class="row mb-3">
                <label for="maritalstatus" class="col-form-label col-md-3">Marital status: </label>
                <div class="col-md-8">
                    <InputSelect id="maritalstatus" class="form-select col-md-8" @bind-Value=@Customer.MaritalStatus>
                        <option value="@(MaritalStatus.Single)">Single</option>
                        <option value="@(MaritalStatus.Married)">Married</option>
                        <option value="@(MaritalStatus.Other)">Other</option>
                    </InputSelect>
                </div>
            </div>

            <button type="submit" class="btn btn-primary me-1">Save employee</button>

        @*    @if (Customer.CustomerId > 0)
            {
                <button type="button" class="btn btn-danger my-1" @onclick="@DeleteCustomer">
                    Delete
                </button>
            }*@

            <button type="button" class="btn btn-outline-primary ms-1" href="@($"customeroverview")">Back to overview</button>
        </EditForm>
    </section>
}
else
{
    <div class="alert">Nothing Here</div>
    <button type="button" class="btn btn-outline-primary" href="@($"customeroverview")">Back to overview</button>
}
@code {

}
